  <div id="toast-root" data-toast="<%= typeof toast !== 'undefined' ? toast : '' %>" data-type="<%= typeof toastType !== 'undefined' ? toastType : 'success' %>"></div>
  <script src="/js/toast.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
